html{
    height:100%;
} 

body{  
    height:100%;
    margin:0px;
}   

.scroll {  
    overflow-y: scroll;
} 


.scroll::-webkit-scrollbar {
    width: 12px;
} 

 
.scroll::-webkit-scrollbar-track {
    border-radius: 55px;
} 


.scroll::-webkit-scrollbar-thumb {
    border-radius: 55px;
    background-color:rgba(114,113,114,0.7);
} 