html{
    height:100% !important;
}

body{  
    height:100% !important;
    overflow-y: auto !important;
}


.scroll {     
    overflow-y: scroll;
} 
 
.DraftEditor-root{
    width:100% !important;
}

.public-DraftEditorPlaceholder-root {
    color: rgba(100,100,100,0.6) !important;
}

.scroll::-webkit-scrollbar {
    width: 8px;
} 
   
.scroll::-webkit-scrollbar-track {
    border-radius: 55px;
} 

.scroll::-webkit-scrollbar-thumb {
    border-radius: 55px;
    background-color:rgba(114,113,114,0.7);
} 